<div class="login-wrapper" style="background-image: url(assets/images/cover.jpg)">
    <div class="title-container">
        <h1>Share your files effortlessly</h1>
    </div>
    <div class="login-container">
        <h2>Login</h2>
        <div class="social-buttons">
            <button class="btn gmail" (click)="loginWithGoogle()"><img src="assets/brands/google.png"> Gmail</button>
            <button class="btn microsoft" (click)="loginWithMicrosoft()"><img src="assets/brands/microsoft.png"> Microsoft</button>
        </div>
    </div>
</div>
