<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="toolbar-left">
    <img width="40" alt="" src="" />
    <div class="username-container">
        <!-- Adding a link to the username that navigates to the user page -->
        <a>
        </a>
    </div>
  </div>

  <div class="toolbar-title">
    <h1>Proprty.ai Cloud Files Uploader</h1>
  </div>

  <div class="toolbar-right">
    <nav>
        
        <a routerLink="/login" (click)="logOut()" routerLinkActive="active">Logout</a>
    </nav>
  </div>
</div>
