<div class="toolbar" role="banner">
  <div class="toolbar-left">
    <img width="40" alt="" src="" />
    <div class="username-container">
        <!-- Adding a link to the username that navigates to the user page -->
        <a>
        </a>
    </div>
  </div>

  <div class="toolbar-right">
    <nav class="centered-nav">
        <a routerLink="/uploader" routerLinkActive="active">Home</a>
        <a routerLink="/uploaded-files" routerLinkActive="active">Uploaded Files</a>
        <a routerLink="/login" (click)="logOut()" routerLinkActive="active">Logout</a>
    </nav>
  </div>
</div>
